services:
  - type: web
    name: rfid-api
    env: python
    buildCommand: |
      pip install -r requirements.txt
      bash scripts/deploy_tasks.sh
    startCommand: gunicorn core.wsgi
    staticPublishPath: staticfiles
    envVars:
      - key: DATABASE_URL
        value: postgresql://rfid_db_oyhg_user:WXJNdMwLRf9wGFt2J2aiBiR3IIKcwkX8@dpg-d0ku6r3uibrs739rr0m0-a.singapore-postgres.render.com/rfid_db_oyhg
      - key: DJANGO_SECRET_KEY
        value: password
      - key: ALLOWED_HOSTS
        value: *